:root{
    --primary: #457B9D;
    --secundary: #E63946;
    --light: #F1FAEE;
    --dark: #1D3557;
    --disabled: #A8DADC;
}

html{
    background-color: var(--grey);
}

.list-container{
    display: flex;
    justify-content: center;
}

.todo-app{
    background-color: var(--light);
    border-radius: 0 0 2rem 2rem;
}

.social{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
    height: 40rem;
}

.social > a{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow: 1.5rem 1rem 0rem 0.5rem #00000033;
    font-size: 1.5rem;
    color: var(--dark);
    margin: 2rem;
    padding: 1.5rem;
}

.social > a:hover{
    background-color: var(--secundary);
    color: var(--light);
}